.syntax--sofistik {
  &.syntax--punctuation.syntax--terminator.syntax--record {
    color: var(--syntax-color-keyword);
  }

  &.syntax--meta {
    font-weight: bold;

    &.syntax--version {
      color: var(--button-background-color-selected);
    }
  }
}
